<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheRing.CQRS.MassTransit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TheRing.CQRS.MassTransit.Properties.Settings>
            <setting name="RequestQueue" serializeAs="String">
                <value>rabbitmq://localhost/Requests</value>
            </setting>
            <setting name="ResponseQueue" serializeAs="String">
                <value>rabbitmq://localhost/Responses</value>
            </setting>
            <setting name="ReadModelQueue" serializeAs="String">
                <value>rabbitmq://localhost/ReadModel</value>
            </setting>
            <setting name="SagaQueue" serializeAs="String">
                <value>rabbitmq://localhost/Sagas</value>
            </setting>
            <setting name="NbMaxTries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="CommandTimeOut" serializeAs="String">
                <value>30</value>
            </setting>
        </TheRing.CQRS.MassTransit.Properties.Settings>
    </applicationSettings>
</configuration>