@model WebSample.Commanding.AddUserAddressCommand
@using (Html.BeginForm()) {

    <fieldset>
        <legend>add address</legend>

        <p>
            <input type="submit" value="AddAddress" />
        </p>
    </fieldset>
}

