@model WebSample.Commanding.CreateUserCommand
@using (Html.BeginForm()) {

    <fieldset>
        <legend>add address</legend>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

