@using WebSample.Model.User
@model WebSample.ReadModel.UserView

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>AbstractAuthenticator</legend>
    </fieldset>
    @Html.Partial("AddAddress", new AddressDto{Id = @Model.UserId})
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
